@model List<Test1.Models.Songs>

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h2 class="sectionLinkH2"></h2>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/fontEnd/css/style.css")" />


<div class="divwrapperGallery">
    <div class="wrapperSectionHeading">
        <a class="sectionLink">
            <h2 class="sectionLinkH2">Type</h2>
        </a>
        <a href="#" class="sectionSeeMore">Show All</a>
    </div>
    <div class="wrapperGallery">

        <div class="divBtn divBtnPrev">
            <button class="galleryBtn btnPrev">
                <i class="fa-duotone fa-solid fa-angle-left"></i>
            </button>
        </div>
        <div class="gallery">
            <div class="gallerContainer">
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="~/img/maxresdefault (1).jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/maxresdefault.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/1200x630mv.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
            </div>


            <div class="gallerContainer">
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/909edb5e516afbcd5b007d19ecfd5897.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/e386c677318bdaeadeac1484bdd2416b.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/lirik-lagu-chord-gitar-dan-terjemahan-tabun-dari-yoasobi-yang-viral-di-tiktok-VxU8geRisu.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
            </div>

        </div>
        <div class="divBtn divBtnNext">
            <button class="galleryBtn btnNext"><i class="fa-duotone fa-solid fa-angle-right"></i></button>
        </div>
    </div>
</div>

<h2 class="sectionLinkH2"></h2>
<div class="divwrapperGallery">
    <div class="wrapperGallery">
        <div class="divBtn divBtnPrev">
            <button class="galleryBtn btnPrev">
                <i class="fa-duotone fa-solid fa-angle-left"></i>
            </button>
        </div>
        <div class="gallery">
            <div class="gallerContainer">
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="~/img/maxresdefault (1).jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/maxresdefault.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/1200x630mv.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
            </div>
            <div class="gallerContainer">
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/909edb5e516afbcd5b007d19ecfd5897.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/e386c677318bdaeadeac1484bdd2416b.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/lirik-lagu-chord-gitar-dan-terjemahan-tabun-dari-yoasobi-yang-viral-di-tiktok-VxU8geRisu.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
            </div>

        </div>
        <div class="divBtn divBtnNext">
            <button class="galleryBtn btnNext"><i class="fa-duotone fa-solid fa-angle-right"></i></button>
        </div>
    </div>
</div>


<section class="wrapperSection">
    <div class="wrapperSectionHeading">
        <a class="sectionLink">
            <h2 class="sectionLinkH2">Album</h2>
        </a>
        <a href="#" class="sectionSeeMore">Show All</a>
    </div>
    <div class="wrapperSectionBody">
        <div class="SectionItem">
            <div class="SectionItemImg">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemText">
                <h3 class="SectionItemTextName">Nhạc trẻ</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Nguyễn Văn Kiên</a>,
                    <a href="#" class="SectionItemTextDesLink">Nguyễn Đức Tùng</a>,
                    <a href="#" class="SectionItemTextDesLink">Trần Bảo khánh</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemText">
                <h3 class="SectionItemTextName">Nhạc trẻ</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Nguyễn Văn Kiên</a>,
                    <a href="#" class="SectionItemTextDesLink">Nguyễn Đức Tùng</a>,
                    <a href="#" class="SectionItemTextDesLink">Trần Bảo khánh</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemText">
                <h3 class="SectionItemTextName">Nhạc trẻ</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Nguyễn Văn Kiên</a>,
                    <a href="#" class="SectionItemTextDesLink">Nguyễn Đức Tùng</a>,
                    <a href="#" class="SectionItemTextDesLink">Trần Bảo khánh</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemText">
                <h3 class="SectionItemTextName">Nhạc trẻ</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Nguyễn Văn Kiên</a>,
                    <a href="#" class="SectionItemTextDesLink">Nguyễn Đức Tùng</a>,
                    <a href="#" class="SectionItemTextDesLink">Trần Bảo khánh</a>
                </div>
            </div>
        </div>



    </div>
</section>
<section class="wrapperSection top-80px">
    <div class="wrapperSectionHeading">
        <a class="sectionLink">
            <h2 class="sectionLinkH2">Artis</h2>
        </a>
        <a href="#" class="sectionSeeMore">Show All</a>
    </div>
    <div class="wrapperSectionBody">
        <div class="SectionItem">
            <div class="SectionItemImg-Artis">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>

    </div>
</section>


<script>

 $.ajax({
    url: '@Url.Action("getAllType", "Home")',
    type: 'GET',
    dataType: 'json',
    success: function (data) {
        console.log(data);
        var $container1 = $('.gallerContainer').eq(0);
        var $container2 = $('.gallerContainer').eq(1);


        $container1.empty();
        $container2.empty();

        var limitedTypes = data.Types.slice(0, 4);

        limitedTypes.forEach(function (type, index) {
            var galleryItem = `
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="${type.Path_Type}" alt="${type.TypeName}" class="gallrryImg">
                    </a>
                </div>
            `;
            var $galleyItem = $(galleryItem);

            $galleyItem.click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("DetailType", "Library")',
                    type: 'GET',
                    data: { id_type: type.ID_Type },
                    success: function (response) {
                        $('#divBodyContent').html(response);
                        history.pushState(null, '', `/Type/${type.TypeName}`);
                    },
                    error: function () {
                        alert('Lỗi khi tải chi tiết loại.');
                    }
                });
            });


            if (index % 2 === 0) {
                $container1.append($galleyItem);
            } else {
                $container2.append($galleyItem);
            }
        });
    },
    error: function (error) {
        alert("Lỗi load");
    }
});





   //

   $.ajax({
    url: '@Url.Action("getAllSinger", "Home")',
    type: 'GET',
    dataType: 'json',
    success: function (data) {
        var $casi = $('.wrapperSectionBody').eq(1);


        $casi.empty();


        for (let i = 0; i <= 3; i++) {
            var casiItem = `
                <div class="SectionItem">
                    <div class="SectionItemImg-Artis">
                        <img src="${data.Singers[i].Path_Singer}" alt="item" />
                    </div>
                    <div class="SectionItemIcon"></div>
                    <div class="SectionItemTextArt">
                        <h3 class="SectionItemTextName">${data.Singers[i].NAME}</h3>
                        <div class="SectionItemTextDes">
                            <a href="#" class="SectionItemTextDesLink">Artis</a>
                        </div>
                    </div>
                </div>
            `;


            var $casiItem = $(casiItem);


            $casiItem.click(function () {
                $.ajax({
                    url: '@Url.Action("DetailSinger", "Library")',
                    type: 'GET',
                    data: { id_singer: data.Singers[i].ID_Singer },
                    success: function (response) {

                        $('#divBodyContent').html(response);
                        history.pushState(null, '', `/Singer/${data.Singers[i].NAME}`);
                    },
                    error: function () {
                        alert('Lỗi khi tải chi tiết ca sĩ.');
                    }
                });
            });


            $casi.append($casiItem);
        }
    },
    error: function (error) {
        alert('Lỗi load danh sách ca sĩ.');
    }
   });





   //album

       $.ajax({
    url: '@Url.Action("getAllAlbum", "Home")',
    type: 'GET',
    dataType: 'json',
    success: function (data) {
        var $playlist_body = $('.wrapperSectionBody').eq(0);

        $playlist_body.empty();
        var albums = data.Album;
        var limitedalbum = data.Album.slice(0, 8);
        limitedalbum.forEach(function (album) {
            var playlistItem = `
                <div class="SectionItem" oncontextmenu="showContextMenu(event, ${album.ID_Album}, '${album.Album_Name}')">
                    <div class="SectionItemImg-Artis_playlist">
                        <img src="${album.Path_Ablum}" alt="item" />
                    </div>
                    <div class="SectionItemTextArt">
                        <h3 class="SectionItemTextName">${album.Album_Name}</h3>
                    </div>
                </div>
            `;

            var $playlistItem = $(playlistItem);

            $playlistItem.click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("DetailAlbum", "Library")',
                    type: 'GET',
                    data: { id_album: album.ID_Album },
                    success: function (response) {
                        $('#divBodyContent').html(response);
                        history.pushState(null, '', '/Library/' + album.Album_Name);
                    },
                    error: function () {
                        alert('Lỗi khi tải chi tiết playlist.');
                    }
                });
            });


            $playlist_body.append($playlistItem);
        });
    },
    error: function (error) {
        alert("Lỗi load");
    }
});












 $(".sectionSeeMore").eq(0).click(function () {



        $.ajax({
         url: '@Url.Action("ListType", "Library")',
            type: 'GET',

            success: function (data) {

                $('.divBodyContent').html(data);

                 history.pushState({ page: "ListType" }, '', '@Url.Action("ListType", "Library")');


 },
 error: function (error) {
     alert("Lỗi load");
 }
});




    console.log("secccc")

    });




 $(".sectionSeeMore").eq(1).click(function () {



        $.ajax({
         url: '@Url.Action("ListAlbum", "Library")',
            type: 'GET',

            success: function (data) {

                $('.divBodyContent').html(data);

                 history.pushState({ page: "ListAlbum" }, '', '@Url.Action("ListAlbum", "Library")');


 },
 error: function (error) {
     alert("Lỗi load");
 }
});




    console.log("secccc")

    });


 $(".sectionSeeMore").eq(2).click(function () {



        $.ajax({
         url: '@Url.Action("ListSinger", "Library")',
            type: 'GET',

            success: function (data) {

                $('.divBodyContent').html(data);
                $('.divBodyContent').scrollTop(0);

                $(window).scrollTop(0);
                 history.pushState({ page: "ListSinger" }, '', '@Url.Action("ListSinger", "Library")');


 },
 error: function (error) {
     alert("Lỗi load");
 }
});




    console.log("secccc")

    });



</script>
