@model Test1.Models.TypeDetailViewModel
@using Newtonsoft.Json


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="wapperBanner">
    <a href="" class="bannerLink">
        <div class="divBannerImg">
            <img src="@Model.Path_Type" alt="" class="bannerImg">
        </div>
    </a>
</div>

<div class="headingColum grid-template-column">
    <div class="div#">
        <span>#</span>
    </div>
    <div class="theloai">
        <span>@Model.TypeName</span>
    </div>
    <div class="timeLogo">
        <div class="thoiluong">
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI">
                <path d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"></path>
                <path d="M8 3.25a.75.75 0 0 1 .75.75v3.25H11a.75.75 0 0 1 0 1.5H7.25V4A.75.75 0 0 1 8 3.25z"></path>
            </svg>
        </div>
    </div>
</div>


    <div class="divListsong">
        @if (Model.Songs != null && Model.Songs.Any())
        {
            <div class="listSong">
                @for (int i = 0; i < Model.Songs.Count; i++)
                {
                    <div class="songItem grid-template-column">
                       
                        <div class="songItem-index">
                            <span>@(i + 1)</span>
                        </div>
                       
                        <div class="songItem-text">
                            <div class="divSongItem-text">
                                <span>@Model.Songs[i].NAME</span>
                                <span class="nameArts">@Model.Songs[i].Singers.NAME</span>
                            </div>
                        </div>
                       
                        <div class="songItem-time">
                            <span>@Model.Songs[i].Plays</span>
                        </div>
                    </div>

                }
            </div>
        }
        else
        {
            <p>Không có bài hát nào.</p>
        }
    </div>

    <style>
        .wapperBanner {
            width: 100%;
        }

        .bannerLink {
            text-decoration: none;
        }

        .divBannerImg {
            background-color: transparent !important;
            border-radius: 4px;
            cursor: pointer;
        }

        .bannerImg {
            width: 100%;
            height: auto; 
            max-height: 500px; 
            object-fit: cover; 
        }
    </style>

    <script>
var songsArray = [];
$(document).ready(function () {

    var a = @Html.Raw(JsonConvert.SerializeObject(Model.Songs));
    console.log(a);


    a.forEach(function (songItem) {
        var song = {
            ID_Song: songItem.ID_Song,
            NAME: songItem.NAME,
            Path_Song: songItem.Path_Song,
            Singer: songItem.Singers
                ? {
                    ID_Singer: songItem.Singers.ID_Singer,
                    NAME: songItem.Singers.NAME,
                  }
                : { ID_Singer: null, NAME: "Unknown" },
            Path_BackGround: songItem.Path_BackGround,
        };
        songsArray.push(song);
    });
});


listsong = songsArray;


$(document).on("click", ".songItem", function () {
    var index = $(this).index();
    console.log(songsArray[index]);
    lengthPlaylist = listsong.length;

    loadsong(index);
    audio.play();
});

    </script>
