@model IEnumerable<Test1.Models.Singers>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />

<div class="appHeader" id="appHeader">
    <search>
        <form action="~/Singers/SearchSinger" method="post" enctype="multipart/form-data">
            <input type="search" id="keywords" name="keywords" placeholder="Tìm kiếm theo tên" />
            <button type="submit">Tìm kiếm</button>
        </form>
    </search>
</div>

<h2>Quản lý ca sĩ</h2>

<button id="openModal">Thêm ca sĩ</button>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Thêm ca sĩ</h3>
        <label>Tên ca sĩ:</label>
        <form action="~/Singers/CreateSinger" method="post" enctype="multipart/form-data">
            <input type="text" name="name" value="" class="form-control" required /><br /><br />
            <label>Chọn ảnh:</label><br />
            <input type="file" name="imageFile" id="imageFile" accept="image/*" value="" class="form-control" required />
            <br /><br /><button type="submit">Thêm</button>
        </form>
    </div>
</div>
<br /><br />
<table>
    <tr>
        <th>ID_Singer</th>
        <th>Name</th>
        <th>Path_Singer</th>
        <th></th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td style="width:6%">@item.ID_Singer</td>
                <td>@item.NAME</td>
                <td>@item.Path_Singer</td>
                <td style="width:2%">
                    <form action="@Url.Action("DeleteSinger", new { id = item.ID_Singer })" method="get" >
                        <button type="submit">Xóa</button>
                    </form>
                </td>
                <td style="width:2%">
                    <button class="openModal" data-id="@item.ID_Singer">Sửa</button>

                    <div id="modal-@item.ID_Singer" class="modal">
                        <div class="modal-content">
                            <span class="close" data-id="@item.ID_Singer">&times;</span>
                            <h3>Sửa ca sĩ</h3>
                            
                            <form action="@Url.Action("UpdateSinger", new { id = item.ID_Singer })" method="post" enctype="multipart/form-data">
                                <label>Tên ca sĩ:</label><br />
                                <input type="text" name="name" value="@item.NAME" class="form-control" required /><br /><br />
                                <label>Ảnh ca sĩ:</label><br />
                                <img style="height:120px" src="@item.Path_Singer" /><br /><br />
                                <label>Chọn ảnh mới: </label>
                                <input type="file" name="imageFile" id="imageFile" accept="image/*" value="" class="form-control" /><br />
                                <button type="submit">Lưu</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
</table>

<script src="~/Scripts/main.js"></script>
