<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
@model PagedList.IPagedList<Test1.Models.Songs>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Quản lý bài hát";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý bài hát</h1>
<br />
<div class="text-right">
    <button class="btn btn-success" style="background-color: #00FF00; padding: 10px;" onclick="window.location.href='@Url.Action("Create", "Songs")'">
    Thêm Bài Hát Mới
    </button>
</div>
<br />

<!-- Form tìm kiếm -->
<div>
    @using (Html.BeginForm("Songs", "Songs", FormMethod.Get))
    {
        <div class="form-inline">
            <input type="text" name="searchString" class="form-control" placeholder="Tìm kiếm bài hát" value="@ViewBag.CurrentFilter" style="font-size: 18px; height: 30px; padding: 10px; width: 50%;" />
            <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
        </div>
    }
</div>

<br />
<p style="text-align:center; opacity:0.5 ">Nhấn vào ID hoặc Tên bài hát để sắp xếp</p>

<!-- Bảng danh sách bài hát -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("ID", "Songs", new { sortOrder = ViewBag.IDSortParm, searchString = ViewBag.CurrentFilter, page = ViewBag.CurrentPage })
            </th>
            <th>
                @Html.ActionLink("Tên bài hát", "Songs", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.CurrentFilter, page = ViewBag.CurrentPage })
            </th>
            <th>Đường dẫn bài hát</th>
            <th>Đường dẫn ảnh nền</th>
            <th>Thể loại</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="song-@item.ID_Song">
                <td>@item.ID_Song</td>
                <td>@item.NAME</td>
                <td>@item.Path_Song</td>
                <td>@item.Path_BackGround</td>
                <td>@item.Types</td>
                <td>
                    @using (Html.BeginForm("Edit", "Songs", new { id = item.ID_Song }, FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-primary" style="background-color: #FFFF00;">Sửa</button>
                    }

                    @using (Html.BeginForm("Delete", "Songs", new { id = item.ID_Song }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken() <!-- Thêm Token để bảo vệ khỏi CSRF -->
                        <button type="submit" class="btn btn-danger" style="background-color: #FF0000;" onclick="return confirm('Bạn có chắc chắn muốn xóa bài hát này?')">Xóa</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<!-- Phân trang -->
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Songs", new { page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter }))
</div>

